# Require things to be added to the repo explicitly
private
!private/.git_keep

projects
!projects/.git_keep

projects_*

install
!install/.git_keep

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vagrant
.vagrant
*.retry

# Mac stuff
.DS_Store

# IntelliJ
.idea

